<%# locals: (phase:) %>
<%
  colors = {
    "lobby" => "badge-info",
    "individual" => "badge-warning",
    "team" => "badge-secondary",
    "result" => "badge-success"
  }
%>
<div class="badge <%= colors[phase] %>"><%= t("nasa_game.phases.#{phase}") %></div>
